@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
  padding: 3%;
  height: 100vh;
}

.container {
  display: flex;
  background: #ecf4ff;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 5%;
  color: #1c1c1c;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.cabecalho {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3%;
}

.perfil {
  display: flex;
}

.perfil-foto {
  max-width: 160px;
  max-height: 160px;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 0px;
}

.titulo h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 24px;
}

.media {
  margin-right: 20px;
}

.socials {
  max-width: 35px;
  max-height: 35px;
}

.tema button {
  font-size: 16px;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
  border: 2px solid #0e1d2f;
}

.portfolio {
  display: flex;
  margin-top: 64px;
  margin-right: 128px;
}

.projetos {
  max-height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  padding: 16px 64px;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

  /* scroll bar styling */
  scrollbar-color: #1c1c1c #ecf4ff;
  scrollbar-width: 5px;
  scrollbar-track-color: #ecf4ff;
  scrollbar-face-color: #1c1c1c;
  scrollbar-3dlight-color: #1c1c1c;
  scrollbar-arrow-color: #1c1c1c;
  scroll-margin: 15px 0px;
}

.conquistas {
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 32px;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.projetos ul {
  list-style: none;
  padding-left: 0;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 2px;
}

.projetos h6 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

.matroll {
  margin-top: 55px;
}

.projetos li {
  list-style-type: none;
  font-size: 20px;
  line-height: 2em;
}

.conquistas ul {
  list-style: none;
  padding-left: 0;
  font-weight: 700;
  font-size: 24px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.conquistas li {
  list-style-type: none;
}

.conquistas img {
  max-height: 100px;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .socials {
  filter: invert(100%) brightness(1.085);
}

.dark .tema button {
  color: #ffffff;
  background: #1c1c1c;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #f7f7f7;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border: 1.8px solid #1c1c1c;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ecf4ff;
}

::-webkit-scrollbar-track {
  background: #ecf4ff;
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
  margin: 15px 0px;
}
